footer {
  background-color: $misoRed;
  height: 80px;
  .misoFoot {
    padding: 5px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $accentWhiteHov;
    h4 {
      color: $accentWhiteHov;
      font-size: 1.5rem;
    }
    .footSocial {
      font-size: 1.5rem;
    }
  }
}
