.misoBox {
  #miso-carousel {
    .glide__track {
      width: 100%;
      position: relative;
      .glide__slides {
        z-index: -5;
        overflow: visible;
        .miso-frame {
          text-align: center;
          width: 100vw !important;
          height: 560px;
          line-height: 150px;
          color: #fff;
          // background: linear-gradient(-45deg, #ed145b, #7b31f4) !important;
          font-size: 1em;
          font-weight: 900;

          .misoHeading {
            color: $accentWhiteHov;
            width: 660px;
            line-height: 120px;
            text-align: start;
            margin: 200px 150px 0 auto;
            font-size: 6rem;
            @include breakpoint-down(medium) {
              text-align: center;
              margin: 200px auto;
              font-size: 5rem;
            }
            @include breakpoint-down(x-small) {
              // text-align: center;
              font-size: 4rem;
              line-height: 80px;
            }
          }
        }
        .miso-frame:nth-child(1) {
          background-image: url("/Assets/Images/having-fun.png");
        }
        .miso-frame:nth-child(2) {
          background-image: url("/Assets/Images/restaurant.png");
        }
        .miso-frame:nth-child(3) {
          background-image: url("/Assets/Images/locally-sourced.png");
        }
      }
    }
    .glide__bullets {
      .glide__bullet--active {
        background-color: $accentWhite;
      }
      .glide__bullet:hover,
      .glide__bullet:focus {
        border: 2px solid $accentWhite;
        background-color: rgba(255, 255, 255, 0.5);
      }
    }
  }
  .heroMiso {
    height: 500px;
    background-color: red;
    background-image: url("/Assets/Images/Chef.png");
    background-position: center;
    .misoHeading {
      color: $accentWhiteHov;
      width: 660px;
      line-height: 120px;
      text-align: start;
      margin: 0px 150px 0 auto;
      padding: 150px 0;
      font-size: 6rem;
      @include breakpoint-down(large) {
        text-align: center;
        font-size: 5rem;
        margin: 0 auto;
      }
      @include breakpoint-down(x-small) {
        padding: 200px 0;
        font-size: 4rem;
        line-height: 80px;
      }
    }
  }
}
#menuMiso {
  height: 500px;
  display: flex;
  margin-top: 100px;
  flex-direction: column;
  @media (max-width: 916px) {
    height: 800px;
  }
  @media (max-width: 616px) {
    height: 1200px;
  }
  @media (max-width: 425px) {
    height: 1225px;
  }
  .menuSig {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    div:first-child,
    div:last-child {
      height: 3px;
      width: 25%;
      border-radius: 50px;
      background-color: $bodyBlack;
      align-self: center;
      @include breakpoint-down(x-small) {
        width: 10%;
      }
      @media (max-width: 375px) {
        height: 3px;
        width: 10%;
        margin-top: -10px;
      }
    }
    div:nth-child(2) {
      margin: 0 20px;
    }
  }
  .foodMenus {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    .foodMenu {
      margin-bottom: 10px;
      .foodImg {
        margin-bottom: 25px;
        width: 300px;
        height: 175px;
        transform-style: preserve-3d;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        input[type="radio"] {
          display: none;
        }
        // RAMEN SLIDER CONTROLS---------------
        #ramen-1:checked ~ .cards #food-3,
        #ramen-2:checked ~ .cards #food-1,
        #ramen-3:checked ~ .cards #food-2 {
          transform: translateX(-40%) scale(0.8);
          opacity: 0.4;
          z-index: 0;
        }
        #ramen-1:checked ~ .cards #food-2,
        #ramen-2:checked ~ .cards #food-3,
        #ramen-3:checked ~ .cards #food-1 {
          transform: translateX(40%) scale(0.8);
          opacity: 0.4;
          z-index: 0;
        }
        #ramen-1:checked ~ .cards #food-1,
        #ramen-2:checked ~ .cards #food-2,
        #ramen-3:checked ~ .cards #food-3 {
          transform: translateX(0) scale(1);
          opacity: 1;
          z-index: 1;
        }
        // Katsu Controls -----------
        #katsu-1:checked ~ .cards #food-3,
        #katsu-2:checked ~ .cards #food-1,
        #katsu-3:checked ~ .cards #food-2 {
          transform: translateX(-40%) scale(0.8);
          opacity: 0.4;
          z-index: 0;
        }
        #katsu-1:checked ~ .cards #food-2,
        #katsu-2:checked ~ .cards #food-3,
        #katsu-3:checked ~ .cards #food-1 {
          transform: translateX(40%) scale(0.8);
          opacity: 0.4;
          z-index: 0;
        }
        #katsu-1:checked ~ .cards #food-1,
        #katsu-2:checked ~ .cards #food-2,
        #katsu-3:checked ~ .cards #food-3 {
          transform: translateX(0) scale(1);
          opacity: 1;
          z-index: 1;
        }
        // Salad Controls ---------------
        #salad-1:checked ~ .cards #food-3,
        #salad-2:checked ~ .cards #food-1,
        #salad-3:checked ~ .cards #food-2 {
          transform: translateX(-40%) scale(0.8);
          opacity: 0.4;
          z-index: 0;
        }
        #salad-1:checked ~ .cards #food-2,
        #salad-2:checked ~ .cards #food-3,
        #salad-3:checked ~ .cards #food-1 {
          transform: translateX(40%) scale(0.8);
          opacity: 0.4;
          z-index: 0;
        }
        #salad-1:checked ~ .cards #food-1,
        #salad-2:checked ~ .cards #food-2,
        #salad-3:checked ~ .cards #food-3 {
          transform: translateX(0) scale(1);
          opacity: 1;
          z-index: 1;
        }
        .cards {
          position: relative;
          width: 100%;
          height: 100%;
          .card {
            position: absolute;
            width: 60%;
            height: 100%;
            left: 0;
            right: 0;
            transition: transform 0.4s ease;
            cursor: pointer;
            margin: auto;
            img {
              box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
              width: 100%;
              height: 100%;
              border-radius: 10px;
              object-fit: cover;
            }
          }
        }
      }
      .foodList {
        text-align: center;
        list-style: none;
        line-height: 35px;

        .food {
          span {
            font-family: "Thirsty Soft Regular";
          }
        }
      }
    }
  }
}
#aboutMiso {
  margin: 25px 50px;
  @include breakpoint-down(medium) {
    flex-direction: column;
  }
  @media (max-width: 375px) {
    margin: 10px 15px;
  }
  h1 {
    @media (max-width: 320px) {
      font-size: 3.5rem;
    }
  }
  .misoText {
    width: 650px;
    @include breakpoint-down(medium) {
      text-align: center;
    }
    p {
      @include breakpoint-down(medium) {
        text-align: justify;
      }
    }
  }
}
#misoMenu {
  margin: 25px 50px;
  flex-direction: column;
  height: 400px;
  @include breakpoint-down(medium) {
    flex-direction: column;
  }
  @include breakpoint-down(x-small) {
    margin: 10px 25px;
  }
  @media (max-width: 375px) {
    margin: 10px 15px;
  }
  .misoSides {
    display: flex;
    .misoSide {
      border-radius: 10px;
      box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
      background-image: url("/Assets/Images/menu/edanur-agac-gDNhfxuNneM-unsplash.png");
      background-size: cover;
      background-position: center;
      height: 300px;
      width: 718px;
      @include breakpoint-down(medium) {
        display: none;
      }
    }
  }
  .misoText {
    width: 650px;
    display: flex;
    justify-content: space-evenly;
    @include breakpoint-down(medium) {
      text-align: center;
    }
    @include breakpoint-down(x-small) {
      padding: 0 10px;
    }
    p {
      @include breakpoint-down(medium) {
        text-align: justify;
      }
    }
    .sides {
      text-align: start;
      list-style: none;
      .side {
        margin-bottom: 10px;
        padding: 0 10px;
        span {
          font-family: "Thirsty Soft Regular";
          font-weight: 500;
        }
      }
    }
    .drinks {
      text-align: start;
      list-style: none;
      .drink {
        margin-bottom: 10px;
        padding: 0 10px;
        span {
          font-family: "Thirsty Soft Regular";
          font-weight: 500;
        }
      }
    }
  }
  .sideSig {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    margin-bottom: 15px;
    color: $bodyBlack;
    @media (max-width: 375px) {
      flex-direction: column;
    }
    div:first-child,
    div:last-child {
      width: 25%;
      height: 3px;
      background-color: $bodyBlack;
      border-radius: 50px;
      @include breakpoint-down(x-small) {
        width: 10%;
      }
      @media (max-width: 375px) {
        height: 3px;
        width: 50%;
        margin-top: -10px;
      }
    }
    div:first-child {
      @media (max-width: 375px) {
        width: 0;
      }
    }
    div:nth-child(2) {
      margin: 0 20px;
      @media (max-width: 375px) {
        text-align: center;
      }
    }
    .sideHead {
      margin: 0 10px;
    }
  }
}
.misoFeature {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  margin-top: 100px;
  @include breakpoint-down(medium) {
    margin-top: 0;
  }
  @include breakpoint-down(x-small) {
    margin-bottom: 35px;
  }
  @media (max-width: 375px) {
    margin-top: 15px;
  }

  .misoChef {
    overflow: hidden;
    width: 765px;
    height: 425px;
    border-radius: 10px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    background-image: url("/Assets/Images/Cheffin.png");
    background-position: center;

    @include breakpoint-down(x-small) {
      display: none;
    }
  }
  .misoBowl {
    align-self: flex-end;
    @include breakpoint-down(small) {
      display: none;
    }
    img {
      position: relative;
      width: 500px;
    }
  }
  .misoText {
    width: 750px;
    align-self: center;
    margin-left: 20px;
    @include breakpoint-down(large) {
      width: 550px;
      // margin-left: 0px;
    }
    @include breakpoint-down(small) {
      text-align: center;
      padding: 0 25px;
      margin-left: 0;
    }
    p {
      width: 650px;
      margin-bottom: 20px;
      @include breakpoint-down(small) {
        text-align: justify;
      }
    }
    h1 {
      @include breakpoint-down(x-small) {
        font-size: 3.5rem;
      }
      @media (max-width: 320px) {
        font-size: 3rem;
      }
    }
    .misoButton {
      padding: 5px 15px;
      border-radius: 50px;
      border: 2px solid $bodyBlack;
      color: $bodyBlack;
      background: transparent;
      font-family: "Thirsty Soft Regular";
      font-size: 21px;
      transition: ease 0.3s;
      text-decoration: none;
    }
    .misoButton:hover {
      border: 2px solid $misoRed;
      background: $misoRed;
      color: $accentWhiteHov;
    }
  }
}
.misoSignature {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  .signature {
    display: flex;
    justify-content: center;
    @media (max-width: 375px) {
      flex-direction: column;
    }
    div:first-child,
    div:last-child {
      height: 5px;
      width: 25%;
      border-radius: 50px;
      background-color: $bodyBlack;
      align-self: center;
      @include breakpoint-down(x-small) {
        width: 10%;
      }
      @media (max-width: 375px) {
        height: 3px;
        width: 60%;
        margin-top: -10px;
      }
    }
    div:first-child {
      @media (max-width: 375px) {
        width: 0;
      }
    }
    div:nth-child(2) {
      margin: 0 20px;
      @media (max-width: 375px) {
        text-align: center;
      }
    }
  }
  #miso-signature {
    width: calc(100% - 1.5rem);
    align-self: center;
    max-width: 1375px;
    @media (max-width: 425px) {
      // align-self: auto;
      max-width: 375px;
    }
    .glide__track {
      // margin: 0 50px;
      .glide__slides {
        overflow: visible;
        padding: 1.5rem;
        display: flex;
        justify-content: center;
        .miso-frame {
          height: 300px;
          background: $misoRed;
          display: flex;
          justify-content: center;
          border-radius: 0.16667em;
          @include breakpoint-down(medium) {
            height: 200px;
          }
          @include breakpoint-down(small) {
            height: 150px;
          }
          @include breakpoint-down(x-small) {
            height: 125px;
          }
          .ramen {
            border-radius: 0.16667em;
            width: 100%;
            height: 100%;
            background-position: center;
            background-size: cover;
            transition: ease 0.3s;
            .ramenOverlay {
              display: none;
            }
          }
          .ramen:hover {
            transform: scale(1.1);
            .ramenOverlay {
              display: flex;
              align-items: center;
              flex-direction: column;
              justify-content: center;
              height: 100%;
              background-color: $ramenHover;
              border-radius: 0.16667em;
              @include breakpoint-down(small) {
                padding: 0 15px;
              }

              p {
                color: $accentWhiteHov;
                text-align: center;
                padding: 0 15px;
                @include breakpoint-down(medium) {
                  font-size: 14px;
                }
                @include breakpoint-down(small) {
                  display: none;
                }
              }
              h3,
              h4 {
                color: $accentWhiteHov;
                text-align: center;
                @include breakpoint-down(small) {
                  font-size: 1.5rem;
                  line-height: 30px;
                }
              }
            }
          }
        }
        .miso-frame:nth-child(1) {
          .ramen {
            background-image: url("/Assets/Images/Spc\ Ramen.png");
          }
        }
        .miso-frame:nth-child(2) {
          .ramen {
            background-image: url("/Assets/Images/INT\ Ramen.png");
          }
        }
        .miso-frame:nth-child(3) {
          .ramen {
            background-image: url("/Assets/Images/LUK\ Ramen.png");
          }
        }
        .miso-frame:nth-child(4) {
          .ramen {
            background-image: url("/Assets/Images/SP\ Ramen.png");
          }
        }
        .miso-frame:nth-child(5) {
          .ramen {
            background-image: url("/Assets/Images/HP\ Ramen.png");
          }
        }
        .miso-frame:nth-child(6) {
          .ramen {
            background-image: url("/Assets/Images/Spe.\ Def\ Ramen.png");
          }
        }
      }
    }
    .misoBull {
      transform: translateX(-25%);
      .glide__bullet {
        background-color: $bodyBlack;
      }
      .glide__bullet:focus {
        background-color: $signatureAccentHov;
        border: 0px solid transparent;
      }
      .glide__bullet:hover {
        border: 2px solid $glideAccentHov;
      }
    }
  }
}

#misoQuest {
  margin: 10px 50px;
  @media (max-width: 320px) {
    margin: 10px 25px;
  }
  .aboutSig {
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
      text-align: center;
      @media (max-width: 375px) {
        font-size: 2.5rem;
      }
    }
    div {
      background-color: $bodyBlack;
      height: 3px;
      width: 450px;
      margin-top: -12px;
      border-radius: 50px;
      @include breakpoint-down(x-small) {
        display: none;
      }
    }
  }
  .misoTab {
    margin-bottom: 10px;
    .misoLabel {
      padding: 10px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      border: 0 solid transparent;
      align-items: center;
      border-radius: 10px;
      font-family: "Thirsty Soft Regular";
      font-size: 1.5rem;
      cursor: pointer;
      box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
      background-color: $glideAccent;
      transition: all 0.3s;
      i {
        transition: all 0.3s;
      }
      &:hover {
        background-color: $accentWhiteHov;
      }
      &.is-open {
        background-color: $accentWhiteHov;
        border-radius: 10px 10px 0 0;
        i {
          transform: rotateZ(90deg);
          transition: all 0.3s;
          margin-right: 5px;
        }
        .misoContent {
          display: flex;
        }
      }
    }
    .misoContent {
      overflow: hidden;
      max-height: 0;
      background-color: $glideAccent;
      border-radius: 0 0 10px 10px;
      box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
      transition: max-height 0.2s ease;
      p {
        padding: 5px 15px;
      }
    }
  }
}
